.c-youtube-player {
    background: #f7f7f7;
    position: relative;

    %center-absolute {
        bottom: 0;
        left: 0;
        margin: auto;
        position: absolute;
        right: 0;
        top: 0;
    }

    &__inner {
        position: relative;
        visibility: hidden;
        width: 100%;

        &::before {
            content: '';
            display: block;
            padding-top: 56.25%;
        }

        iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    &__cover {
        align-items: center;
        background-color: black;
        background-position: center center;
        background-size: cover;
        cursor: pointer;
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    &__icons {
        position: relative;
        width: 12%;

        &::before {
            content: '';
            display: table;
            padding-top: 100%;
        }
    }

    &__spinner-wrapper,
    &__play-button-wrapper {
        @extend %center-absolute;
        height: 100%;
        width: 100%;
    }

    &--is-ready {
        .c-youtube-player__inner {
            visibility: visible;
        }
    }

    &--cover-is-hidden {
        .c-youtube-player__cover {
            opacity: 0;
            visibility: hidden;
        }
    }
}
